/* MOBILE: Sidebar Hidden */
@media(max-width: 991px) {
    #sidebar {
        width: 10%;
        left: -50%;
    }

    #sidebar.active {
        left: 0;
    }



    #hamburgerBtn {
        display: block !important;
    }

    .header-main {
        margin-top: 15px;
    }

    .header-data {
        text-align: center;
        margin-right: 28px;
        margin-left: 28px;
    }

    .header-logo {
        margin-bottom: 60px;
        /* margin-left: 15px; */

        text-align: left;
    }

    .main {
        margin: 0;
    }


    .close-btn {
        display: block;
    }

    .header-data {
        margin-top: 0 !important;
    }

    .left-space {
        margin-left: 0px !important;
    }

    .about-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-right {
        margin-bottom: 60px;
    }

    .service p {
        width: 100%;
    }

    .services-first-box {
        /* border-bottom:none; */
        border-right: 1px solid;
    }

    /* Add left & right border ONLY to 2nd box in top row */
    .service-box-top .row>div:nth-child(2) {
        border: none;
        border-bottom: 1px solid;
    }

    .service-box-top .row>div:nth-child(4) {
        border-bottom: 1px solid;
    }

    .service-box-top .row>div:nth-child(5) {
        border: none;
        border-right: 1px solid;

    }

    .Arcu {
        padding-bottom: 0;
    }

    .Arcu-bottom {
        text-align: center;
    }

    .Arcu-bottom-left {
        width: 100% !important;
    }

    .Arcu-bottom-right {
        width: 100% !important;
    }

    .Ghostwriting {
        margin-bottom: 212px;
    }

    .Ghostwriting-data h2,
    .Ghostwriting p {
        width: 100%;
    }


    .counting-container {
        bottom: -163px;
    }

    .slider-heading {
        text-align: center;
    }

    .slider-heading p {
        width: 100%;
    }

    .card-info img {
        width: 30%;
    }

    .card-info p {
        width: 70%;
    }

    .Portfilio {
        padding: 60px 0;
    }

    .form-right {
        text-align: center;
    }

    .form-right label,
    .form-right input {
        text-align: left;
    }

    .contant-us-top {
        padding-top: 100px !important;
    }

    .form-left,
    .form-right {
        width: 100%;
        margin-bottom: 30px;
    }

    .form-button {
        text-align: center;
    }

    .footer-data-main {
        flex-wrap: wrap;
    }

    .footer-common {
        width: 200px !important;
    }

    .first-footer {
        width: 400px !important;
    }

    .review-slide {
        width: 100%;
    }



    /* ABOUT PAGE START */
    .experience-header {
        text-align: center;
    }

    /* ABOUT PAGE END */

    /* BLOG PAGE START */
    .blog-hero-card-data {
        text-align: center;
    }

    .blog-hero-data h1 {
        font-size: 2.4rem;
    }

    .blog-hero-card-data h3 {
        font-size: 1.6rem;
    }

    /* BLOG PAGE END */
}

@media(max-width: 767px) {


    .header-company {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-data h2 {
        font-size: 2rem;
    }

    .header-data p {
        font-size: 1rem;
    }

    .about-right h5 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .active-btn {
        margin-right: 8px !important;
    }

    .header-button button {
        font-size: 1.1rem;
        padding: 9px 18px;
    }

    @keyframes heroImage {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-30px);
        }

        100% {
            transform: translateY(0);
        }
    }


    .about-right {
        text-align: center;
    }

    .about-right h2 {
        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: 800;
    }

    .about-page-about-left {
        padding-bottom: 380px;
    }

    .expertise-right {
        text-align: center;
    }


    .expertise-right h2 {
        font-size: 2rem;
    }


    .service-box h2 {
        font-size: 1rem;
    }

    .expertise-right h5,
    .service h5 {
        font-size: 1.1rem;
    }

    .service-box p {
        padding: 0;
        font-size: 0.9rem;

    }

    .service-box-top,
    .service-box-bottom,
    .service-box-top .service-box,
    .service-box-bottom .service-box {
        border: none;
    }

    .service-box-margin {

        border-bottom: 1px solid #000 !important;
    }

    .services-first-box {
        /* border-bottom: none; */
        border-right: none;
    }

    /* Add left & right border ONLY to 2nd box in top row */
    .service-box-top .row>div:nth-child(2) {
        border: none;
        border-bottom: 1px solid;
    }

    .service-box-top .row>div:nth-child(4) {
        border-bottom: none;


    }

    .service-box-top .row>div:nth-child(5) {
        border: none;
        border-right: none;

    }

    .service-box-top .row>div:nth-child(6) {
        border: none;
        border-right: none;
        border-bottom: none !important;
    }

    .stat-card span {
        width: 100%;
        justify-content: center;
    }

    .Arcu-top {
        text-align: center;
    }

    .portfilio_data p {
        width: 100%;
    }

    .Ghostwriting {
        margin-bottom: 130px;
    }

    .Ghostwriting-data h2 {
        font-size: 2rem;
    }

    .service h2 {
        font-size: 2rem;
    }

    .counting-container {
        bottom: -83px;
    }



    .count h2 {
        font-size: 1.9rem;
    }

    .count p {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .Ghostwriting-book-img {
        justify-content: center;
        display: flex;
        position: unset;
    }

    .Ghostwriting-data {
        margin-top: 70px !important;
    }

    .faq-section-top-data {
        text-align: center;
    }

    .faq-section-top-data h1 {
        font-size: 2rem;
    }

    .slider-heading h2 {
        font-size: 2rem;
    }

    .counting-box {
        padding: 0px 12px;
    }

    .contant-us-top {
        padding-top: 50px !important;
    }

    .form-right h2 {
        font-size: 2rem;
    }

    .form-right h5 {
        font-size: 1.2rem;
    }

    .form-right label {
        font-size: 1.1rem;
    }

    .form-right input {
        font-size: 1.1rem;
    }

    .copy-right p {
        font-size: 0.9rem;
    }

    /* ABOUT PAGE START */
    .experience-bottom-year {

        padding: 40px 20px;
    }

    .experience-header h2 {
        font-size: 2rem;
    }

    .experience-header h2 {
        font-family: "Montserrat";
        font-size: 2rem;
        color: #02121D;
        font-weight: 500;
        line-height: 44px;
    }

    .We-Give-Heading h2 {
        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: 500;
    }

    /* ABOUT PAGE END */

    /* CONTACT PAGE START */
    .speak-us-box {
        text-align: center;
    }

    .speak-box-right {
        margin-top: 20px;
    }

    /* CONTACT PAGE END */
}

@media(max-width: 526px) {


    .header-data h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .header-data p {
        font-size: 0.9rem;
        text-align: center;
    }

    .header-button {
        text-align: center;
    }


    .common-btn {
        font-size: 1rem;
        padding: 10px 14px;
    }

    .about-content {
        padding-top: 40px;
    }

    .about-right {
        text-align: center;
    }

    .about-right h5 {
        font-size: 1rem;
    }

    .about-right h2 {
        font-size: 1.8rem;
    }

    .about-right p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .about-right button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .about-page-about-left {
        padding-bottom: 320px;
    }

    .expertise-right h5,
    .service h5 {
        font-size: 1rem;
    }

    .service h2 {
        font-size: 1.8rem;
    }

    .expertise-right h2 {
        font-size: 1.8rem;
    }

    .expertise-right p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .service {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .expertiese-btn {
        text-align: center;
        margin-top: 0px;
    }

    .service-box-main {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .service-box-margin {
        margin-bottom: 30px !important;
    }

    .expertiese-btn button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .Arcu {

        padding-top: 60px;
        text-align: center;
    }

    .Arcu-top h2 {
        font-size: 1.8rem;
    }

    .Arcu-top p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .stat-card h4 {
        font-size: 1.5rem;
    }

    .stat-card p {
        font-size: 0.9rem;
    }

    .author-top h5 {
        font-size: 1rem;
    }

    .Portfilio {
        margin: 0;
    }

    .portfilio-button button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #Author {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .author-top h2 {
        font-size: 1.8rem;
    }

    .feature-card {
        flex-direction: column;
        text-align: center;
    }

    .author-top p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .feature-text {
        line-height: 1.4rem;
    }

    .Ghostwriting-data h2 {
        font-size: 1.8rem;
    }

    .Ghostwriting-data p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }




    .count h2 {
        font-size: 1.5rem;
    }

    .count p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .faq-section p {
        font-size: 0.9rem;
        line-height: 1.4rem;
        text-align: center;
    }

    .faq-section h1 {
        font-size: 1.8rem;
        line-height: 1.9rem;
        text-align: center;

    }

    .slider-heading h2 {
        font-size: 1.8rem;
        line-height: 1.9rem;
        margin-bottom: 20px;
    }

    .slider-heading p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .card-gradient .card-body p:first-child {
        font-size: 0.8rem;
        color: #707070;
        text-align: center;
    }

    .card-info {
        bottom: -85px;
    }

    .card-info p {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }


    .card-info img {
        width: 150px;
        padding-right: 0;
    }

    .card-info p {
        font-size: 0.8rem;
        line-height: 1.4rem;
        width: 50%;
        padding: 0 0 20px 0;
    }

    .review-slide {
        margin-bottom: 50px;
    }

    .form-right h5 {
        font-size: 1.1rem;
    }

    .form-right h2 {
        font-size: 1.8rem;
    }

    .form-right {
        text-align: center;
    }

    form {
        text-align: left;
    }

    .form-right p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .form-right label {
        font-size: 1rem;
    }

    .form-right input {
        font-size: 1rem;
    }

    .form-right button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    footer h5 {
        margin-top: 0;
    }

    .copy-right p {
        font-size: 0.8rem;
    }

    /* ABOUT PAGE START  */
    .experience-header h2 {
        font-size: 1.8rem;
    }

    .We-Give {
        margin: 60px 0;
        padding: 0 10px;
    }

    .We-Give-Heading h2 {
        font-size: 1.8rem;
        font-family: "Montserrat";
        font-weight: 500;
    }

    /* ABOUT PAGE END  */
    /* BLOG PAGE START */
    .blog-hero-data h1 {
        font-size: 2rem;
    }
    .blog-hero-data p {
    font-size: 0.9rem;
}

    .blog-hero-card-data h3 {
        font-size: 1.3rem;
    }
.blog-hero-card-data p {
    font-size: 0.9rem;
}
.blog-hero-card-date span {
    font-size: 0.9rem;
}
    /* BLOG PAGE END */
}

@media(max-width: 370px) {
    .header-button {
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .active-btn {
        padding: 10px 14px;
        margin-right: 0 !important;
    }

    .common-btn {
        font-size: 1rem;
        padding: 8px 14px;
    }

    .about-page-about-left {
        padding-bottom: 210px;
    }
}