@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.wrapper {
    display: flex;
}

/* Sidebar */
#sidebar {
    width: 144px;
    min-width: 144px;
    background: #f8f9fa;
    height: 100vh;
    position: fixed;
    z-index: 2;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    transition: 0.3s ease;
}

.nav-icons {
    width: 25px;
}

.nav {
    margin-bottom: 10px !important;

}

.nav-link1 {
    color: #0c3467;
}

.nav-item {
    margin: 2% 0;
}

.nav-link svg {
    width: 30px;
}

.nav-item a {
    color: #3A3A3A !important;
    font-size: 1rem;
    font-weight: 600;
}

.nav-item a i {
    color: #3A3A3A !important;
    font-size: 1.4rem;
    font-weight: 600;
}


.nav-item a:hover {
    background: -webkit-linear-gradient(135deg, #338f9a 0%, #0c3467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: linear-gradient(135deg, #338f9a 0%, #0c3467 100%);
    color: transparent;
    /* icon will also take gradient */

}



/* Optional: smooth animation */
.dropdown-menu {
    transition: all 0.3s ease-in-out;
}

.my-drop-down, .my-drop-down2 {
    position: absolute;
    inset: 0px auto auto 0px;
    background: #f8f9fa !important;
    margin: 0px;
    transform: translate3d(126px, 45.4px, 0px) !important;
}

.Genre-dropdown {
    position: relative;
}



.nav-item span {
    display: block;
}

#hamburgerBtn.hide {
    display: none !important;
}

#hamburgerBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
}

#closeSidebar.hide {
    display: none !important;
}

/* Close button inside sidebar */
.close-btn {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    display: none;
}

.main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-left: 144px;
}

.header-main {
    margin-top: 60px;
}

.header-logo {
    margin-bottom: 20px;
}

.header-data {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 40px;
}


.header-data h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

.header-data p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;

}

.common-btn {
    font-family: "inter";
    font-weight: 600;
    border-radius: 26px;
    font-size: 1.1rem;
    border: 2px solid #0c3467;
    padding: 11px 16px;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    color: #338F9A;

}

.common-btn:hover {
    border: none;
    transition: all 0.3s ease-in-out;
    color: rgb(12, 52, 103) !important;
    background: #fff;
    box-shadow: 0 8px 20px rgba(12, 52, 103, 0.2);

}


.active-btn {
    color: #fff;
    margin-right: 20px !important;
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%);
    border: none;

    transition: all 0.3s ease-in-out;

}

.active-btn:hover {
    background: #fff;
    color: rgb(12, 52, 103) !important;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid #338F9A; */
    box-shadow: 0 8px 20px rgba(12, 52, 103, 0.2);
}



.header-company {
    padding-left: 50px;
}


.header-data h2 span {
    font-family: "Playwrite US Trad", cursive;
    color: #2E6E6D;

}

.hero-image {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about-hero-image {
    align-items: unset;
    width: auto;
    height: auto;
}

.about-hero-image {
    animation: heroImage 5s ease-in-out infinite;
    /* transform-origin: center center; */
}

.about-hero-image:hover {
    animation-play-state: paused;
}

/* Keyframes */
@keyframes heroImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ABOUT PAGE START */

/* about section start */
.about {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
}

.about-img {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about-content {
    padding: 0 20px;
    padding-top: 50px;
    font-family: "Montserrat";
    color: #fff;
}

.about-page-about-left {
    padding-bottom: 460px;
    position: relative;
}

.about-page-about-left-back-img,
.about-page-about-left-front-img {
    position: absolute;
    /* Positions the divs at the same spot relative to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Smooth infinite zoom animation */
@keyframes smoothZoom {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.08);
        /* adjust zoom level */
    }

    100% {
        transform: scale(0.8);
    }
}

.about-page-about-left-front-img {
    animation: smoothZoom 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transform-origin: center;
}

.about-right {
    padding-bottom: 20px;
}

.about-right h5 {
    font-size: 1.4rem;

    font-weight: 300;
}

.about-right h2 {
    font-size: 2.5rem;
    font-family: "Montserrat";
    font-weight: 800;
    margin-bottom: 40px;
}

.about-right p {
    font-size: 1rem;
    font-weight: 200;
}

.para2 {
    margin-bottom: 60px;
}

/* about section start */

/* We Give Section start */
.We-Give-Heading h2 {
    font-size: 2.4rem;
    font-family: "Montserrat";
    font-weight: 500;
}

.We-Give {
    margin: 60px 0;
}

.We-Give-Box-main {
    margin-top: 60px;
}

.We-Give-Box {
    padding: 0 20px;
}

.We-Give-Box h4 {
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.4rem;
    position: relative;
}

.We-Give-Box h4::before {
    content: "";
    background: red;
    width: 12px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: -30px;
    border-radius: 12px;
    background: linear-gradient(105.88deg, #338F9A 9.89%, #0C3467 89.9%);
    border-radius: 4px;
    animation: pulseBar 2s infinite ease-in-out;
}

@keyframes pulseBar {
    0% {
        transform: scaleY(1);
        opacity: 0.8;
    }

    50% {
        transform: scaleY(1.2);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 0.8;
    }
}

.We-Give-Box p {
    font-family: "Inter";
    font-size: 0.9rem;
    font-weight: 400;
    color: #B0B0B0;
}

.We-Give-Box-btn {
    margin-top: 40px;
}

/* We Give Section end */
/* ABOUT PAGE START */


/* Expertise Start */
.expertiese {
    padding: 60px 0;
    background: #F8F8F8;

}

.expertise-right h2 {
    font-family: "Montserrat";
    font-weight: 800;
    color: #1D3755;
    font-size: 2.6rem;
}

.expertise-right h5 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1A5379;
    font-family: "Inter";
}


.expertise-right p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #555A64;
    font-family: "Montserrat";
}

/* Expertise End */

/* Our service Start */
.service {
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.services-data {
    margin-bottom: 60px;
}

.services-data p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: auto;
    width: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


.service-box {
    transition: all 0.3s ease-in-out;
    text-align: center;
    background: #fff;
    padding: 40px 10px;

}



.service-box h2 {
    font-weight: 600;
    font-size: 1.15rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

.service-box p {
    color: #6c757d;
    transition: all 0.3s ease-in-out;
    font-size: 0.95rem;
    padding: 0px 24px;
}

/* Center box styling */

.service-box-top,
.service-box-bottom,
.service-box-top .service-box,
.service-box-bottom .service-box {
    border: none;
}


.services-first-box {
    border-bottom: 1px solid #000;

}

/* Add left & right border ONLY to 2nd box in top row */
.service-box-top .row>div:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.service-box-top .row>div:nth-child(5) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}



.service-box img {
    width: 55px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.service-box:hover {
    background: linear-gradient(135deg, #31b6b5, #0d2b6b);
    color: white;
    border-radius: 4px;
    /* padding: 14px 6px; */
    margin-top: -10px;
    margin-bottom: -10px;
    scale: 1.08;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;

}

.service-box:hover p {
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.service-box:hover h2 {
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.center-box img {
    filter: brightness(0) invert(1);
}



.expertiese-btn {
    text-align: center;
    margin-top: 40px;
}

.expertiese-btn .active-btn {
    margin: 0 !important;
}

.expertiese-btn button {
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    border: none;
}

/* Our service End */


/* Arc Start */
.Arcu {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    margin-top: 50px;
    padding-top: 80px;
}

.Arcu-top h2 {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;

}

.Arcu-top h2 span {
    display: block;

}

.Arcu-top p {
    font-size: 0.9rem;
    font-weight: 200;
    color: #fff;
}

.Arcu-bottom-left p {
    font-size: 0.9rem;
    font-weight: 200;
    color: #fff;
}


.stat-card {
    background: #F7F7F7;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
}

.stat-card:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.stat-card h4 {
    color: #021B1F;
    font-weight: 500 !important;
    font-size: 1.4rem;
    font-family: "Montserrat";
}

.stat-card p {
    color: #8C8C8C;
    font-size: 1rem;

}

.stat-icon {
    font-size: 34px;
    margin-bottom: 10px;
    color: #0d6efd;
}

/* Arc End */


/* Portfilio Start */
.Portfilio {
    margin-top: 60px;
}

.portfilio_data h5 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #1A5379;
}

.portfilio_data h2 {
    font-weight: 800;
    font-size: 2rem;
    font-family: "Montserrat";
    text-transform: capitalize;
    color: #1D3755;
    margin-bottom: 30px;

}

.portfilio_data p {
    font-size: 1rem;
    width: 60%;
    margin: auto;
    font-weight: 300;

}

.book-card {
    perspective: 1200px;
}

.book-img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.45s ease, box-shadow 0.45s ease;
    transform-origin: center bottom;
}

/* 3rd-book style hover rotation */
.book-card:hover .book-img {
    transform: rotate(-6deg) rotateX(12deg) scale(1.15);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.30);
}

.portfilio-button button {
    color: #fff;
    font-weight: 400;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 25px;
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    border: none;
}

/* Portfilio End */

/* Author Websites Start */
#Author {
    background-image: url("./asset/author-web-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

/* Rotate image infinitely */
.Author-bottom-left img {
    animation: floatUpDown 3s ease-in-out infinite;
    /* transform-origin: center center; */
}

.Author-bottom-left img:hover {
    animation-play-state: paused;
}

/* Keyframes */
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

.author-top {
    margin-bottom: 50px;
}

.author-top h5 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #1A5379;
}

.author-top h2 {
    font-weight: 800;
    font-size: 2rem;
    font-family: "Montserrat";
    text-transform: capitalize;
    color: #1D3755;
}

.author-top p {
    font-size: 1rem;
    font-weight: 300;
}






.feature-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
    transition: all 0.3s ease-in-out;

}

.feature-card:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
}




.feature-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.feature-text {
    font-size: 0.8rem;
    color: #5f6d7a;
    margin: 0;
}

/* Author Websites End */

/* Ghostwriting Services Start */
.Ghostwriting {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    margin-bottom: 150px;
}

.Ghostwriting-container {
    position: relative;
}

.Ghostwriting-data {
    margin-top: 100px !important;
    margin-bottom: 60px;
    color: #fff;
}

.Ghostwriting-data h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px !important;
    font-family: "Montserrat";
    margin: auto;
}

.Ghostwriting-data p {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 200;
    margin: auto;
    margin-bottom: 20px;
}

.Ghostwriting-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.second-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;

}

.second-btn:hover {
    border: none;
    transition: all 0.3s ease-in-out;
    color: rgb(12, 52, 103) !important;
    background: #fff;
    box-shadow: 0 8px 20px rgba(12, 52, 103, 0.2);
    cursor: pointer;
}

.Ghostwriting-book-img {
    /* display: flex; */

    /* top: -60px; */
}

.Ghostwriting-book-img {
    bottom: 80px;
    right: 0px;
    position: absolute;
    animation: GhostwritingfloatUpDown 5s ease-in-out infinite;
}

.Ghostwriting-book-img:hover {
    animation-play-state: paused;
}

/* Keyframes */
@keyframes GhostwritingfloatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0);
    }
}

.counting-container {
    background-color: #fff;
    border-radius: 25px;
    padding-top: 25px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
    width: 80% !important;
    margin: auto;
    position: relative;
    bottom: -90px;
}

.counting-box {
    padding: 20px 12px;
}

.count h2 {
    color: #1A535C;
    font-weight: 500;
    font-size: 2.4rem;
    font-family: "Outfit", sans-serif;
}

.count p {
    font-weight: 300;
    font-size: 1rem;
}

/* Ghostwriting Services End */


/* FAQ Start */
.custom-blue {
    color: #338F9A;
    /* A common Bootstrap blue, adjust if a different shade is needed */
}



.faq-section h1 {
    color: #1D3755;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.2rem;
}

.faq-section p {
    color: #1D3755;
    font-family: "inter";
    font-weight: 300;
    font-size: 1rem;
}

.accordion-header button {
    font-size: 1rem;
    font-weight: 400;
    color: #1D3755;
}

.accordion-body p {
    color: #1D3755;
    font-size: 0.9rem;
    font-weight: 400;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.accordion-body {
    color: #495057;
}

/* FAQ End */


/* Testimonials Start  */

/* Card Slider Start */
.slider-heading h2 {
    font-size: 2.4rem;
    color: #1D3755;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 20px;
}

.slider-heading p {
    width: 80%;
    font-size: 0.9rem;
    color: #1D3755;
    font-weight: 400;
    margin-bottom: 50px;

}

.card.card-gradient {
    border: none;
}

.swiper-slide .card-gradient img {
    object-fit: cover;
}

.card {
    width: 100%;
    height: 100% !important;
    position: relative;
    border-color: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
}

.card-slide-main {
    padding-bottom: 70px;
}

.card-slide-main .swiper-slide {
    border: none !important;
    background: transparent !important;
}

.card-gradient {
    /* margin: 0px; */
    background: #fff;
    position: relative;
    border-radius: 48px;


}

.card-gradient::before {
    content: "";
    background: linear-gradient(45deg, rgba(12, 52, 103, 1) 0%, rgba(12, 51, 103, 1) 7%, rgba(19, 72, 130, 1) 15%, rgba(25, 90, 154, 0) 22%, rgba(41, 137, 216, 0) 40%, rgba(32, 124, 202, 0) 60%, rgba(39, 131, 185, 0) 73%, rgba(43, 135, 174, 1) 81%, rgba(51, 143, 154, 1) 96%, rgba(51, 143, 154, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 48px;
    z-index: 0;
}


.card-gradient .card-body {
    padding: 20px 50px;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 48px;
    margin: 2px;
}

.card-gradient .card-body p:first-child {
    font-size: 0.8rem;
    color: #707070;
    text-align: center;
}

.card-gradient .card-body p span:first-child {
    margin-right: 10px;
}

.card-gradient .card-body p span:last-child {
    margin-left: 10px;
}



.card-info {
    position: absolute;

    bottom: -50px;
    left: 0;
    width: 100%;

}


.card-info p {
    margin-top: 10px;
    color: #222222 !important;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
}

.card-info img {
    width: 120px;
}

.review-slide {
    /* margin: 80px 0; */
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Card Slider End */
/* Testimonials End */


/* Contact Form Start */
.contant-us-top {
    border-top: 2px solid #E8E8E8;
    padding-top: 100px;
    margin-bottom: 100px;
}

.main-contact-us {
    gap: 10px;
}

.form-left {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    padding: 40px 25px 0px 25px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-left img {
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
}

.form-right h5 {
    color: #338F9A;
    margin-bottom: 6px;
    font-size: 1.4rem;
}

.form-right h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "Montserrat";
    color: #1D3755;
    margin-bottom: 13px;
}

.form-right form {
    margin-top: 10px;
}

.form-right p {
    font-size: 0.9rem;
    color: #1D3755;
    margin-bottom: 30px;
}

.form-right label {
    display: block;
    margin-top: 36px;
    color: #1D3755;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "inter";
}

.form-right input {
    color: #1D3755;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 17px 0px;
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
}

.form-button {
    margin-top: 40px;
}

/* Contact Form End */


/* ABOUT PAGE START */
.experience {
    margin: 80px 0;
    font-family: "Montserrat";
}

.experience-header {
    border-bottom: 2px solid rgb(0, 0, 0, 0.15);
    margin-bottom: 36px;
}

.experience-header h2 {
    font-family: "Montserrat";
    font-size: 2.6rem;
    color: #02121D;
    font-weight: 500;
    line-height: 44px;
}

.experience-header p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
    color: #2C4251;
}

.experience-bottom-para p {
    font-family: "Montserrat";
    color: #5A5A5A;
    font-weight: 300;
    font-size: 0.9rem;
}

.experience-bottom-year {
    height: 100%;
    background: #E9F7FF;
    text-align: center;
    padding: 90px 40px;
}

.experience-bottom-year-header {
    padding: 10px 0;
}

.experience-bottom-year-header h2 {
    font-weight: 800;
    font-size: 2.6rem;
    margin-bottom: 6px;
}

.experience-bottom-year-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.experience-bottom-year-bottom p {
    margin-top: 16px;
}

/* ABOUT PAGE END */


/* CONTACT US PAGE START */

/* Speak With Us Start  */
.speak-us {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    /* background-size: 100% 60%; */
    border: 1px solid #ffffff00;
    /* border: none; */
    margin-bottom: 80px;
}

.speak-us h2 {
    font-size: 2.4rem;
    font-family: "Montserrat";
    color: #ffff;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 40px;
}

.speak-us-box-main {
    margin-bottom: -50px;
}

.speak-us-box {
    background: #FFFFFF;
    box-shadow: 0px 5.20497px 69.3996px rgba(0, 0, 0, 0.2);
    border-radius: 13.8799px;
    /* margin-top: 50px; */
    padding: 20px 10px;
    height: 100%;
}

.speak-box-left-cricle {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #338f9a;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.7);
        box-shadow: 0 0 0 0 rgba(51, 143, 154, 0.6);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(51, 143, 154, 0);
    }

    100% {
        transform: scale(0.7);
        box-shadow: 0 0 0 0 rgba(51, 143, 154, 0);
    }
}


.speak-box-right p,
.speak-box-right h4 {
    margin: 0;
    font-family: "Montserrat";
}

.speak-box-right h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1D3755;
}

.speak-box-right p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2px;
    color: #1D3755;
}

/* Speak With Us End  */

/* CONTACT US PAGE END */


/* PRIVACY PAGE START */
.privacy-hero {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    padding: 120px 0;
}

.privacy-hero-data {
    color: #FFFFFF;
}

.privacy-hero-data h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.privacy-hero-data p {
    font-family: "Montserrat";
    font-size: 1rem;
}

/* <!-- PRIVACY DATA START --> */
.privacy-data {
    margin: 60px 0;
    color: #000000;

}

.privacy-data h2 {
    margin: 20px 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2.1rem;
}

.privacy-data p,
.privacy-data li {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1rem;
}

.privacy-data h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.6rem;
}

/* <!-- PRIVACY DATA END --> */


/* PRIVACY PAGE END */

/* BLOG PAGE START */
.blog-hero-data {
    color: #1D3755;
    margin-top: 70px;
}

.blog-hero-data h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog-hero-data p {
    font-family: "Montserrat";
    font-size: 1rem;
}

.blog-hero-card-main {
    border: 1px solid #CECECE;
    margin-top: 40px;
    padding: 30px;
    margin-bottom: 70px;
}

.blog-hero-card-data h3 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #121212;
}

.blog-hero-card-data p {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 15px;
    color: #727272;
}

.blog-hero-card-date span {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
}

.blog-hero-card-btn {
    margin-top: 30px;
}

/* Blog Card Start */
.blog-card-container {
    margin-bottom: 40px;

}

.blog-card a {
    text-decoration: none;
}

.blog-card {
    border: 1px solid #CECECE;
    padding: 14px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform: scale(0.9);
}

.blog-card:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.blog-card-data i {
    color: #FDCF55;
    font-size: 1.2rem;
    margin-right: 5px;
}

.blog-card-data {
    font-size: 1rem;
    font-family: "Montserrat";
    margin-top: 10px;
    color: #000000;
}

.blog-card-data p {
    color: #000000;
    font-size: 1rem;
    font-family: "Inter";
    margin-top: 8px;

}

/* Blog Card End */
/* BLOG PAGE END */

/* FICTION PAGE START */
/* Licensed Writer START Start */
.licensed-writer {
    margin: 80px 0;
}

.licensed-writer-heading h2 {
    font-size: 2.4rem;
    color: #12416F;
    font-family: "Montserrat";
    font-weight: 700;
}

.licensed-writer-data {
    margin-top: 36px;
}

.licensed-writer-data p {
    font-size: 1rem;
    color: #747474;
    font-family: "Inter";
    margin-bottom: 0;
}

.licensed-writer-data-check {
    margin-top: 26px;
}

.licensed-writer-data-check p {
    font-size: 1rem;
    color: #747474;
    font-family: "Inter";
    margin-bottom: 6px;
}

.licensed-writer-data-check p span {
    color: #27738B;
    margin-right: 14px;
    font-size: 1.2rem;
}

.licensed-writer-card-main {
    margin-top: 60px;
}

.licensed-writer-card {
    padding: 0 10px;
}

.licensed-writer-card-number p {
    background: rgb(48, 135, 150, 20%);
    color: #05171D !important;
    font-weight: 600 !important;
    font-family: "Montserrat" !important;
    font-size: 1.4rem !important;
    padding: 16px 20px;
    border-radius: 35px !important;


}

.licensed-writer-card h3 {
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 1.4rem;
    margin-bottom: 6px;
}

.licensed-writer-card p {
    color: #747474;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
}

.licensed-writer-btn {
    margin-top: 40px;
}

.licensed-writer-card-number {
    display: flex;
    justify-content: left;
}

/* Licensed Writer End Start */

/* We Offer Section Start */
.we-offer {
    background: linear-gradient(105.88deg, #338F9A 9.89%, #0C3467 89.9%);
    padding-top: 80px;
}

.we-offer-header-heading h2 {
    font-size: 2.6rem;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.we-offer-header-para p {
    font-size: 1rem;
    font-family: "Inter";
    color: #FFFFFF;

}

.we-offer-bottom {
    margin-top: 50px;
}

.we-offer-box {
    background: #FFFFFF;
    border: 0.91404px solid #D8D8D8;
    border-radius: 7.31232px;
    padding: 16px 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
}

.we-offer-box:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.we-offer-box h3 {
    font-size: 1.3rem;
    font-family: "Montserrat";
    font-weight: 600;
    color: #2F2F2F;
}

.we-offer-box p {
    font-size: 1rem;
    font-family: "Inter";
    color: #363636;
    margin-bottom: 0;
}

.we-offer-box-main {
    margin-top: 30px;
}

.we-offer-img {
    display: flex;
    align-items: end;
    height: 100%;
}

/* We Offer Section End */
/* Professional Writer Section Start */
.professional-writer {
    margin: 70px 0;
}

.professional-writer-header {
    margin-bottom: 40px;
}

.professional-writer-header span {
    color: #1A5379;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 6px;
}

.professional-writer-header h2 {
    color: #1D3755;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.professional-writer-header p {
    color: #1D3755;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
}

.professional-writter-left {
    margin-bottom: 20px;
    padding: 14px 16px;
    background: rgba(230, 236, 236, 0.55);
    border: 0.958269px solid rgba(140, 140, 140, 0.3);
    border-radius: 7.66615px;

}

.professional-writter-left-data h3 {
    font-size: 1.3rem;
    color: #27213C;
    font-weight: 500;
    font-family: "Montserrat";
    margin: 0;
    margin-bottom: 6px;
}

.professional-writter-left-data p {
    margin: 0;
    font-size: 1rem;
    font-family: "Inter";
    margin-top: 4px;
    color: #8C8C8C;
}

.professional-writter-left-number {
    /* margin-left: 6px; */
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.professional-writter-left-number p {
    background: linear-gradient(105.88deg, #338F9A 9.89%, #0C3467 89.9%);
    color: #fff;
    font-family: "Montserrat";
    text-align: center;
    padding: 18px 21px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    animation: blink 1.8s infinite ease-in-out;
}

@keyframes blink {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}


/* Professional Writer Section End */
/* FICTION PAGE END */
/* Footer Start */
footer {
    background: linear-gradient(135deg, #338f9a 0%, #0c3467 100%) !important;
    color: #FFFFFF;
    padding: 60px 0;
}

footer h5 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 40px;
    font-family: "inter";
}

.footer-common li {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: "inter";
    margin: 10px 0;
    list-style: none;

}

.footer-common li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-family: "inter";
    font-weight: 300;

}

.Fourth-footer h6 {
    margin-top: 30px;
}

.Fourth-footer span {
    border-bottom: 1px solid #fff;

}

.Fourth-footer li {
    margin: 0;

}

/* Footer End */

/* Copy Right Start */
.copy-right {
    background: #fff;
}

.copy-right p {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 0 !important;
}

/* Copy Right End */